nav.navbar{
    background-color: #1c5c93;
    line-height: 60px;
}

.navbar-default .container-fluid{
    max-width: 90%;
}

div.form-group{
    clear: both;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
#navbar .navbar-nav > li > a,
#navbar .navbar-nav > .dropdown > a,
#navbar .navbar-nav > .dropdown > a:hover,
#navbar .navbar-nav > .dropdown > a:focus {
  color: white;
}

table.table tr.urgency-2{
    background-color: #f7e200;
}

table.table tr.urgency-3{
    background-color: #bf0000;
    color: white;
}

.submitLink {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: blue;
  cursor: pointer;
}

submitLink:focus {
  outline: none;
}

p.comment_arahan{
    margin-bottom: 0px;
}